@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

img {
    max-width: 100%;
}

body ,.header, .main img ,.about img ,.hamburger span,footer{
    width: 100%;
}
body {
    overflow-x: hidden;
    display: flex;
}
.header {
    height: 77px;
    z-index: 3;
    background-color: white;
    position: relative;
    position: fixed;
}
.logo img, .name, .click img,.hamburger,.scr-target img,.ItemBox,
.detail-box,.line-top,.top,.policy,.SNS img,.arrow,.slide-menu,.news {
    cursor: pointer;
}
.logo img{
    width: 40px;
    margin: 5px 30px 0 30px;
}
.name {
    font-size: 0.8rem;
    color: #0097b2;
    margin: 0 30px;
}
.click {
    display: flex;
    position: absolute;
    right: 50px;
    top: 15px;
}
.click img {
    margin: 18px 8px;
}
.click img:hover{
    opacity: .5;
}
.header-area{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .hamburger{
    width: 18px;
    height: 15px;
    right: 20px;
    position: relative;
    position: fixed;
    top: 33px;
  }
  .hamburger span{
    position: absolute;
    height: 1px;
    background-color: black
  }
  .hamburger span:first-of-type, .hamburger span:nth-of-type(2),
  .hamburger span:last-of-type,.slide-menu {
    transition: .5s;
  }
  .hamburger span:first-of-type {
    top: 0;
  }
  .hamburger span:nth-of-type(2){
    top: 45%;
  }
  .hamburger span:last-of-type{
    top: 90%;
  }
  .slide-menu{
    background-color:white;
    position: fixed;
    top: 75px;
    width: 60%;
    height: 100%;
    right: 0;
    transform: translateX(100%); 
    list-style: none;
    z-index: 6;
}
.slide-menu li{
  color: black;
  line-height: 300%;
  margin-left: 16%;
}
.slide-menu p{
    font-size: 0.5rem;
    margin-left: 5%;
}
.slide-menu img {
    width: 15px;
}
.contact img{
    margin: 7%;
}
.slide-menu .search,.mainOutline a,.productOutline p ,.top,.copyright {
    opacity: .5;
}
.borderBottom{
    border-bottom: solid 1px;
    width: 200px;
}
.search img{
    margin-left: 180px;
}
.slide-menu .number {
    margin-top: 10%;
}
.hamburger.active span:first-of-type{
    top: 0;
  }
  .hamburger.active span:nth-of-type(2){
    top: 45%;
    right: 0;
    width: 70%;
  }
  .hamburger.active span:last-of-type{
    top: 90%;
    right: 0;
    width: 50%;
  }
  .slide-menu.active{
    transform: translateX(0); 
  }
.main img, .about img,.scr-target img{
    object-fit: cover;
}
.main img {
    height: 64vh;
    margin: 77px auto;
    background-attachment: fixed;
    transform: scale(-1, 1);
    position: relative;
}
.about img {
    height: 27vh;
    margin-top: 0px;
    padding: 0 28px;
}
.title,.Eng-ver,h2,.detail-box a,h4,.border-height,.news ,footer{
    opacity: 0.6;
} 
.title {
    position: absolute;
    left: 10%;
    top: 29%;
    font-size: 1.3em;
}
.Eng-ver {
    position: absolute;
    left: 10%;
    top: 34%;
}
.slide-menu li,.Eng-ver,.productOutline p,.sentence,
.detail-box a,h4,.date ,.news-contents p ,.top{
    font-size: 0.72rem;
}
.mainOutline{
    margin: auto 0 30px -20px; 
}
.mainOutline a {
    margin-left: 20px;
}
h1 {
    font-size: 1.5rem;
    margin: 15px 30px 10px 20px;
}
.productOutline{
    margin: auto 0 30px 20px;
}
.productOutline p {
    margin-left: 20px;
}
.contents p, .ItemName, .price{
    margin: 10px ;
    font-size: 0.7rem;
    color: gray;
}
.ItemName {
    margin-top: 5%;
}
.price {
    margin-bottom: 15%;
}
.sentence {
    width: 88%;
    margin:  6% auto;
    line-height: 22px;
}
.more {
    margin: 6% auto 14% auto;
}
.view-more{
    margin: 60px auto 74px auto;
}
.more ,.view-more{
    width: 90%;
    border: solid 1px;
    text-align: center;
    padding: 2.7%;
    font-size: 0.7rem;
    transition: 0.2s;
    cursor: pointer;
    margin-bottom: 18%;
}
.more:hover ,.view-more:hover  {
    background: black;
    color: white;
}
h2 {
    font-size: 0.95rem;
    margin: 85px auto 50px auto;
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin: auto;
}
.scr-target{
   opacity: 0;
   transform: translate3d(0, 30px, 0);
   overflow: hidden;
   width: 230px;
   height: 230px;
  box-sizing: border-box;
}
.scr-target img {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    padding: 0 10px;
  }
  .scr-target img:hover {
    opacity: 0.6;
    zoom: 1.1;
    width: 230px;
    height: 230px;
  }
.scr-target.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}
.detail-box ,.news{
    list-style: none;
    margin: 0 14%;
}
.detail-box a {
    border: solid 0.3px;
    border-color:rgb(143, 142, 142);
    width: 100%;
    padding: 29px 20px;
    margin: 3% auto;
    color: black;
    transition: .3s;
}
.detail-box a:hover {
    padding-left: 40px;
}
.detail-box p{
    position: absolute;
    top: 40px;
    color: black;
    border-bottom: solid 1px ;
    width: 10px;
    padding:  auto;
    visibility: hidden;
}
.detail-box p:hover {
    width: 30px;
}
.information {
    padding-top: 70px;
}
.story,.business {
    border: solid 1px;
    border-color:black;
    width: 72%;
    padding: 5%;
    margin: 16px auto 20px auto;
    font-size: 0.7rem;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    opacity: .7;
}
.story:hover ,.business:hover  {
    background-color: black;
    color: white;
}
.business {
    margin-top: 30px;
}
h3 {
    padding: 100px 20px 8px 30px;
    font-size: 1.6rem;
    font-family: "游明朝",  serif;
}
h4 {
    padding: 0 20px 30px 30px;
    font-family: "ヒラギノ明朝 ProN W3",  serif;
}
.news-contents{
    display: flex;
    margin-left: 55px;
}
.date {
    line-height: 22px;
    margin-bottom: 30px;
    text-align: center;
}
.news {
    margin: auto;
    margin-top: 2%;
}
.news-contents p {
    line-height: 18px;
    font-size: 0.75rem;
    width: 45%;
    color: black;
}
.border-height {
    border-right: solid 1px gray;
    height: 42px;
    margin: 0px 20px;
}
.line-top {
    border-right: solid 1px black;
    height: 60px;
    margin: -2% 50%;
}
.top {
    text-align: center;
    margin: 3.5% auto 5% auto;
}
.logo-name{
    text-align: center;
    font-size: 2.1rem;
    color:#0097b2;
    margin: 5px auto;
}
.logo-name img {
    width: 40px;
    margin: 5px auto;
}
.policy {
    font-size: 0.6rem;
    text-align: center;
}
.SNS {
    display: flex;
    width: 100px;
    margin: 20px auto;  
}
.SNS img {
    margin: 10px;
}
.copyright {
    margin: 0 auto;
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 40px;
}
.arrow{
    display:inline-block;
    color:black;
    border:1px solid;
    position: relative;
    text-decoration: none;
}
.arrow::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 80px;
    height: 1px;
    background: black;
    transition: .3s;
}
.arrow::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 4px;
    height: 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-135deg);
    transition: .3s;
}
.arrow:hover::before,.arrow:hover::after,.detail-box a:hover,.detail-box p{
    transition:.5s;
}
.arrow:hover::before{
    right: 10px;
    width: 60px;
}
.arrow:hover::after{
    right: 10px;
}
.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}
  @media screen and (max-width:379px) {
      .scr-target {
        width: 160px;
        height: 160px;
        overflow: hidden;
        margin: auto;
    }
      .scr-target img:hover {
        width: 160px;
        height: 160px;
      }
    }
  @media screen and (min-width:730px) {
    .more, .view-more{
        padding: 1.7%;
    }
    .products {
        justify-content: center;
    }
    .scr-target{
        width: 350px;
        height: 350px;
     }
    .scr-target img {
        padding: 0 15px;
    }
    .scr-target img:hover {
        width: 350px;
        height: 350px;
        overflow: hidden;
    }
    .about  {
        width: 95%;
        margin: auto;
      }
      .about img {
        height: 380px;
        margin-top: 8%;
      }
      .outline p {
        font-size: 1.5rem;
      }
      .sentence {
        width: 93%;
    }
    .detail-box, .information{
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .box:last-child {
        margin: 0 auto;
    }
    .box{
        width: 46%;
        margin: 2%;
    }
    .arrow::before{
        width: 15%;
    }
  @media screen and (min-width:981px) {
      .main img {
          height: 100vh;
          right: 0;
          padding-right: 20%;
      }
      .about {
          margin: 30% auto;
         
          width: 82%;
          display: flex;
          position: relative;
          align-items: center;
      }
      .about img {
        width: 55%;
        height: 480px;
        position: absolute;
        left: 48%;
        margin: auto;
      }
      .sentence {
          position: absolute;
          width: 45%;
          opacity: .7;
      }
      h1,.about p, .about .more{
          margin-left: 0%;
      }
      .outline {
          margin-bottom: 16%;
          margin-top: -17%;
      }
      .contents {
          width: 98%;
          margin: auto;
      }
      .outline p {
          font-size: .7rem;
      }
      .about .more {
          width: 50%;
          margin-top: 10%;
      }
    .products {
        width: 96%;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .scr-target {
        width: 390px;
        height: 390px;
    }
    .scr-target img:hover {
        width: 390px;
        height: 390px; 
    }
      .title{
          top: 50%;
          font-size: 2rem;
      }
      .Eng-ver {
          top: 58%;
          font-size: 0.8rem;
      }
      .detail-box {
          flex-wrap: wrap;
      }
    .box{
        width: 29%;
        margin: 2%;
    }
    .story ,.business {
        width: 46%;
        padding: 3% 5%;
        margin: 2%;
        font-size: 1rem;
    }
    .more,.view-more {
        width: 30%;
        padding: 1.2%;
    }
    .news {
        margin-left: 3%;
    }
    footer {
        display: flex;
        height: auto;
        position: relative;
        margin-bottom: 7%;
    }
    .logo-name {
        position: absolute;
        left: 5%;
        top: -20px;
    }
    .policy {
        position: absolute;
        left: 18%;
        bottom: -25px;
    }
    .SNS {
        position: absolute;
        right: 4%;
        top: -30px;
    }
    .copyright {
        position: absolute;
        right: 5%; 
        top: 25px;
    }
}}